@keyframes fadeInPage {
    from { opacity: 0; } 
    to { opacity: 1; } 
}
*{
    padding: 0;
    margin: 0;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
    font-style: none;
    text-decoration-line: none;
}
img{
    width: 120px;
    height: 40px;
    margin-left: 40px;
    margin-top: 5px;
}
#wrap{
    max-width: 1440px;
    opacity: 0;
    animation: fadeInPage 0.3s ease-out forwards;
}
#header{
    height: 50px;
    border-bottom: 1px solid black;
}
#main{
    width: 1440px;
    background-color: #F9F9F9;
    height: 900px;
}
#main_inner{
    height: 610px;
    width: 720px;
    margin-left: 360px;
    margin-right: 360px;
    border: 1px solid #F9F9F9;
}
h1{
    text-align: center;
    margin-top: 110px;
    font-size: 50px;
}
form{
    margin-top: 50px;
}
.big_bubble{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    background-color: white;
    font-size: 20px;
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}
p{
    text-align: center;
    color: red;
}
.date_t{
        text-align: center;
        color: black;
}
.date {
    display: flex;           
    align-items: center;
    justify-content: center; 
    width: 315px;              
    height: 50px;             
    border-radius: 25px;       
    background-color: white;   
    border: 1px solid #e5e7eb;
    margin-left: 210px;        
    margin-right: 210px;       
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;    
    transition: all 0.2s ease;
}
.date:focus-within {
    border-color: #FFB834;   
} 
.big_bubble:focus-within {
    border-color: #FFB834;   
}     
.date input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;         
    font-weight: 500;
    color: #111827;
    text-align: center;
    width: 50px;              
}
.date input:first-child {
    width: 70px;            
}
.date .split {
    color: #d1d5db;
    margin: 0 5px;
    user-select: none;         
}
.back{
    text-align: center;
    margin-top: 35px;
    color: black;
}
.big_bubblef{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    background-color: white;
    font-size: 20px;
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}
.big_bubblef:hover{background-color: #FFB834;transition: 0.3s ease;}
.back:hover{
    font-weight: bolder;
    border-top: 1px solid #FFB834;
    border-bottom: 1px solid #FFB834;
    color: #FFB834;
    transition: 0.3s ease;
    padding:10px 0 10px 0;
}