<!DOCTYPE html>
<html lang="kr">
<head>
    <link rel="stylesheet" th:href="@{/css/Login.css}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/interface/favicon.png" type="image/x-icon">
    <title>OnFit.com</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <a href="../index/Main.html">
                <img src="../img/interface/log_logo.png" alt="loglogo">
            </a>
        </div>
        <div id="main">
            <div id="main_inner">
                <h1>Login</h1>
                <form action="" method="">
                    <input type="text" class="big_bubble" placeholder="ID를 입력해주세요" required>
                    <div class="confirm">매우 좋은 ID에요!</div>
                    <input type="Password" class="big_bubble" placeholder="Password를 입력해주세요" required>
                    <div class="confirm">훌륭해요!</div>
                    <a href="../index/Find.html">
                        <input type="button" class="small_bubble1" value="ID 찾기">
                    </a>
                    <input type="submit" class="small_bubble2" value="Login">
                </form>
                <a href="../index/Signin.html">
                    <p>계정 만들기-></p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>