<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/interface/favicon.png" type="image/x-icon">
    <title>OnFit.com</title>
    <link rel="stylesheet" href="./css/MyInfo_sidebar.css">
    <link rel="stylesheet" href="./css/MyComments.css"/>
</head>
<body><div th:replace="~{fragments/header :: header}"></div>
<div id="wrap">
    <!--헤더-->
    <div id="header">
        <a href="./main.html">
            <div id="logo">
                <img src="../img/interface/LOGO_B.png">
            </div>
        </a>
        <nav>
            <ul>
                <a href="./diagnosis.html">
                    <li>AI진단</li>
                </a>
                <a href="./virtualFitting.html">
                    <li>가상피팅</li>
                </a>
                <a href="./storeMain.html">
                    <li>스토어</li>
                </a>
                <a href="./Community.html">
                    <li>커뮤니티</li>
                </a>
                <a href="./MyPalette.html">
                    <li>내 팔레트</li>
                </a>
            </ul>
        </nav>
        <div class="header_icon">
            <img src="../img/Main/icon_profile.png">
            <div class="header_icon_hover1">
                <nav>
                    <ul>
                        <a href="/login">
                            <li>로그인</li>
                        </a>
                        <a href="/signIn">
                            <li>회원가입</li>
                        </a>
                        <a href="/find">
                            <li>ID 찾기</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header_icon">
            <img src="../img/Main/icon_cart (1).png">
            <div class="header_icon_hover2">
                <nav>
                    <ul>
                        <a href="./Cart.html"><li>장바구니</li></a>
                        <a href="OrderInfo.html"><li>주문내역</li></a>
                        <a href="./storeMain.html"><li>스토어</li></a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header_icon">
            <img src="../img/Main/icon_search.png">
            <div class="header_icon_hover3">
                <div class="header_search">
                    <form>
                        <input class="header_search_main" type="search" placeholder="검색어를 입력해주세요">
                    </form>
                </div>
                <div class="header_main">
                    <p>실시간 검색 결과</p>
                    <div class="header_main_search">
                        <div class="header_main_s"></div>
                        <div class="header_main_s"></div>
                        <div class="header_main_s"></div>
                        <div class="header_main_s"></div>
                        <div class="header_main_s"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--본문-->
    <div id="MyInfo_wrapper">
        <div id="sidebar_container"></div>
        <main id="MyCommunity">
            <div id="content"></div>
        </main><div th:replace="~{fragments/footer :: footer}"></div>
    </div>

    <!--푸터-->
    <footer>
        <div id="f_left" style="float: left; width: 30%; padding-right: 20px;">
            <a href="#wrap">
                <img src="../img/interface/LOGO_W.png">
            </a>
        </div>
        <div id="f_right" style="float: left; width: 70%;">
            <nav>
                <ul>
                    <li>AI진단</li>
                    <li>가상피팅</li>
                    <li>스토어</li>
                    <li>커뮤니티</li>
                    <li>내 팔레트</li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
<script src="./js/MyInfo_sidebar.js"></script>
<script type="module" src="./js/MyComments.js"></script>
</body>
</html>