#sidebar {
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-menu li {
    margin:0 10px 25px 10px;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    border: 0;
}

.sidebar-menu li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #666;
    font-size: 1.1rem;
    border: 0;
}
.sidebar-menu li a:hover{
    color: #000;
    transition: color 0.25s;

}

.sidebar-menu a.active {
    background-color: #dedede;
    color: #000;
}